
body {
    height: 650px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.padre {
    border: purple 3px solid;
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.hijo {
    border: blue 3px solid;
    height: 100px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.hijo2 {
    border: blue 3px solid;
    height: 100px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.nieto {
    border: green 3px solid;
    width: 30px;
    height: 50px;
}

.nieto1 {
    border: green 3px solid;
    width: 30px;
    height: 20px;
}