.container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 450px;
    font-family: Arial, Helvetica, sans-serif;
}

label {
    margin-bottom: 3px;
}

input {
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: #f8f0f0;
    border: 0;
}

button {
    color: white;
    width: 450px;
    height: 35px;
    background-color: #06ac51;
    border: 0;
}